[Unit]
Description="HashiCorp Nomad - A flexible container orchestration tool"
Documentation=https://www.nomadproject.io/
Requires=consul.service
After=consul.service
ConditionFileNotEmpty=/etc/${APP}.d/${APP}.hcl

[Service]
ExecStart=/usr/local/bin/${APP} agent -config=/etc/${APP}.d/
KillMode=process
Restart=on-failure
User=${USESYSUSERR}
Group=${SYSUSER}

[Install]
WantedBy=multi-user.target
